body {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: orange;
    height: 130px;
    width: 100vw;
}

.main {
    background-color: pink;
    height: 130px;
    width: 100vw;
    flex: 1;
}

.footer {
    background-color: blueviolet;
    height: 50px;
    width: 100vw;
}